﻿@using Microsoft.AspNetCore.Http;
@model cerebro.Models.ContratoView

@{ ViewData["Title"] = "Index"; }

<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Control y Seguimiento</a></li>
            <li class="breadcrumb-item active" aria-current="page">Consulta Vencimientos</li>
        </ol>
    </nav>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form asp-controller="Contrato" asp-action="ConsultaVenc">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-2">
                                <span>Regla Año Revisión:</span>
                            </div>
                            <div class="col-2">
                                <select asp-for="SelectedAnios" class="form-control combo-multi" multiple="multiple" data-placeholder="Seleccione" style="width: 100%;">
                                    <!--select asp-for="Contrato.ReglAnioRevi" class="form-control select2" -->
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>
                            </div>

                            <div class="col-2">
                                <span>Regla Mes Revisión:</span>
                            </div>
                            <div class="col-2">
                                <!--select asp-for="Contrato.ReglMesRevi" class="form-control select2" style="width: 100%;"-->
                                <select asp-for="SelectedMeses" class="form-control combo-multi" multiple="multiple" data-placeholder="Seleccione" style="width: 100%;">

                                    <option value="1">Enero</option>
                                    <option value="2">Febrero</option>
                                    <option value="3">Marzo</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Mayo</option>
                                    <option value="6">Junio</option>
                                    <option value="7">Julio</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                            </div>

                            <div class="col-2">
                                <span>Severidad Prescindir:</span>
                            </div>
                            <div class="col-2">
                                <!--select asp-for="Contrato.IdSeveridad" class="form-control select2" style="width: 100%;" asp-items="ViewBag.IdSeveridad"-->
                                <select asp-for="SelectedSeveridades" class="form-control combo-multi" multiple="multiple" data-placeholder="Seleccione" style="width: 100%;" asp-items="ViewBag.IdSeveridad">
                                </select>
                            </div>

                            <div class="col-2">
                                <span>Situación Contrato:</span>
                            </div>
                            <div class="col-2">
                                <!--select asp-for="Contrato.IdSituacion" class="form-control select2" style="width: 100%;" asp-items="ViewBag.IdSituacion"-->
                                <select asp-for="SelectedSituaciones" class="form-control combo-multi" multiple="multiple" data-placeholder="Seleccione" style="width: 100%;" asp-items="ViewBag.IdSituacion">
                                </select>
                            </div>

                            <div class="col-2">
                                <span>Categoría:</span>
                            </div>
                            <div class="col-2">
                                <select asp-for="SelectedCategorias" class="form-control combo-multi" style="width: 100%;" data-placeholder="Seleccione" asp-items="ViewBag.IdCategoria">
                                </select>
                            </div>

                            <div class="col-2">
                                <span>Rubro:</span>
                            </div>
                            <div class="col-2">
                                <select asp-for="SelectedRubros" class="form-control combo-multi" style="width: 100%;" data-placeholder="Seleccione" asp-items="ViewBag.IdRubro">
                                </select>
                            </div>

                            <div class="col-2">
                                <span>Proveedor:</span>
                            </div>
                            <div class="col-2">
                                <select asp-for="SelectedProveedores" class="form-control combo-multi" data-placeholder="Seleccione" asp-items="ViewBag.IdProveedor">
                                </select>
                            </div>

                            <div class="col-2">
                                <span>SubGerencia:</span>
                            </div>
                            <div class="col-2">
                                <select asp-for="SelectedSubgerencias" class="form-control combo-multi" data-placeholder="Seleccione" asp-items="ViewBag.IdSubgerencia">
                                </select>
                            </div>

                            <div class="col-2">
                                <span>Estado de Revisión:</span>
                            </div>
                            <div class="col-2">
                                <select asp-for="SelectedEstadosRev" class="form-control combo-multi" data-placeholder="Seleccione" asp-items="ViewBag.IdEstadoRevision">
                                </select>
                            </div>

                            <div class="col-2">
                                <span>Vigencia:</span>
                            </div>
                            <div class="col-2">
                                <select asp-for="SelectedVigencias" class="form-control combo-multi" data-placeholder="Seleccione" asp-items="ViewBag.IdVigencia">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" align="center">
                        <input type="submit" value="Buscar" class="btn btn-primary" />                        
                        <a asp-action="ConsultaVenc" class="btn btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3 header-cerebro">
            <a class="btn btn-primary btn-block" asp-action="ExportaVencido"><i class="far fa-file-excel"></i> Exportar Excel</a>
        </div>

        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Lista de Contratos</h3>

                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover" id="tbldata">
                        <thead>
                            <tr>
                                <th></th>

                                <th>Categoría</th>
                                <th>Rubro</th>
                                <th>Descripción<span style="visibility:hidden">amsmadsfmasmasdnasdfna</span></th>
                                <th>Subgerencia</th>
                                <th>Proveedor</th>
                                <th>Inicio de Contrato</th>
                                <th>Fin de Contrato</th>
                                <th>Cantidad de Meses</th>
                                <th>Estado Revisión</th>
                                <th>Severidad para Prescindir</th>
                                <th>Situación de Contrato</th>
                                <th>Frecuencia de Pago</th>
                                <th>Tipo de Consumo</th>
                                <th>Renovación Automática</th>
                                <th>Moneda</th>
                                <th>Importe con IGV</th>
                                <th>Tipo de Gasto</th>
                                <th>Clasificación</th>
                                <th>Tipo de Oblicación</th>
                                <th>Clausula de Salida</th>
                                <th>Penalidad</th>
                                <th>Detalle de Penalidad</th>
                                <th>Años de Contrato</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Contratos)
                            {
                            <tr>

                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-primary" data-toggle="dropdown">Acción</button>
                                        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                            <div class="dropdown-menu" role="menu">
                                                @if (@Context.Session.GetInt32("idrol") != 2)
                                                {
                                                    <a class="dropdown-item" onclick="modificar(@item.IdContrato)"><i class="fas fa-edit"></i> Modificar</a>}
                                                <a class="dropdown-item" onclick="logCambios(@item.IdContrato)"><i class="fas fa-search"></i> Log Cambios</a>
                                            </div>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeCategoria)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeRubro)
                                </td>
                                <td colspan="1">
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeSubgerencia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Proveedor)
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.FeIniContrato).ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.FeFinContrato).ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CantMeses)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeEstadoRev)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeSeveridad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeSituacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeFrecPago)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeTipoConsumo)
                                </td>
                                <td>
                                    @(item.RenoAuto == true ? "Si" : "No")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeMoneda)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImpoUnitConIgv)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeTipoGasto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeClasificacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeTipoObligacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClausulaSalida)
                                </td>
                                <td>
                                    @(item.Penalidad == true ? "Si" : "No")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DetallePenalidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AniosContrato)
                                </td>

                            </tr>}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

    <div class="modal fade" id="modal-logcambios">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Log de Cambios - Contrato</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="tlblogcambios" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Operación</th>
                                    <th>Fecha Operación</th>
                                    <th>Usuario</th>
                                    <th>Contrato</th>
                                    <th>Descripción Contrato</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <script>
        $(function () {
            $('#tbldata').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "language": {
                    "info": "Mostrando del _START_ al _END_ de _TOTAL_ registros",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Proximo",
                        "previous": "Previo"
                    }
                }
            });

            $("#tlblogcambios").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
            });

            $('.combo-multi').select2({
                closeOnSelect: false
            });
        });

        function modificar(idContrato) {
            window.location.href = '/Contrato/Modificar/' + idContrato;
        }

        function logCambios(idContrato) {
            $.ajax(
                {
                    type: "POST",
                    url: '/Contrato/LogCambios?idContrato=' + idContrato,
                    data: {
                        IdContrato: idContrato,
                    },
                    error: function (result) {
                        console.log("Error");
                        console.log(result);
                    },
                    success: function (result) {
                        console.log("correcto");
                        console.log(result.data);
                        $("#modal-logcambios").modal();
                        populateDataTable(result.data);
                    }
                });
        }

        function populateDataTable(data) {
            var tlblogcambios = $('#tlblogcambios').DataTable();
            tlblogcambios.clear().draw();
            var length = Object.keys(data).length;
            for (var i = 0; i < length; i++) {
                var entity = data[i];

                tlblogcambios.row.add([
                    entity.tipoOperacion,
                    entity.feOperacion.substring(0, 10),
                    entity.idUsuaCrea,
                    entity.idContrato,
                    entity.deContrato
                ]).draw();
            }
        }
    </script>
</section>