﻿@model cerebro.Models.TbContrato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbContrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReglAnioRevi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReglAnioRevi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReglMesRevi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReglMesRevi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRubro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRubro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeRubro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeRubro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSeveridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSeveridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeSeveridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeSeveridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdParaRevision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdParaRevision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSituacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSituacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeSituacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeSituacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AniosContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AniosContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFrecPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFrecPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeFrecPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeFrecPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantMeses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantMeses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoConsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoConsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeTipoConsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeTipoConsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RenoAuto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RenoAuto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMoneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMoneda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeMoneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeMoneda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoGasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoGasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeTipoGasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeTipoGasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoProyActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoProyActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoProyAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoProyAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClasificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClasificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeClasificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeClasificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoObligacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoObligacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeTipoObligacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeTipoObligacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviOpexAnioSiguiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviOpexAnioSiguiente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClausulaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClausulaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetallePenalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetallePenalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeIniRelacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeIniRelacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioIniRelacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioIniRelacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeIniContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeIniContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeFinContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeFinContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasPorVencer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasPorVencer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadMeses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadMeses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReglaMesesPrevios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReglaMesesPrevios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReglaFechaRevision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReglaFechaRevision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capexeado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capexeado)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsableTi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsableTi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUnidadMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUnidadMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeUnidadMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeUnidadMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpoUnitSinIgv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpoUnitSinIgv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpoUnitConIgv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpoUnitConIgv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeModi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeModi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuaModi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuaModi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuaCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuaCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAreaFuncional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAreaFuncional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeAreaFuncional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeAreaFuncional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessCase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVigencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVigencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeVigencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeVigencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSubgerencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSubgerencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeSubgerencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeSubgerencia)
        </dd>
        <dt class = "col-sm-2">
            
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdContrato">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
