﻿@model cerebro.Models.TbContrato

@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Control y Seguimiento</a></li>
            <li class="breadcrumb-item">Mantenimiento de Contrato</li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
    </nav>
</section>

<section class="content container-fluid">

    <form asp-action="Edit" onsubmit="setDate();">
        <input type="hidden" asp-for="IdContrato" />
        <div class="accordion" id="accordionContrato">
            <div class="card card-contrato">
                <div class="card-header" id="headUno">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseUno" aria-expanded="true" aria-controls="collapseUno">
                            1. Datos generales
                        </button>
                    </h2>
                </div>

                <div id="collapseUno" class="collapse show" aria-labelledby="headUno" data-parent="#accordionContrato">
                    <div class="card-body">
                        <div class="row">
                            <!--<div class="col-sm-3">
    <div class="form-group">
        <label asp-for="NuContrato" class="control-label">Contrato</label>
        <input asp-for="NuContrato" class="form-control" />
        <span asp-validation-for="NuContrato" class="text-danger"></span>
    </div>
                    </div>-->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="NuProveedor" class="control-label">Proveedor</label>
                                    <select asp-for="NuProveedor" class="form-control" asp-items="ViewBag.NuProveedor">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Descripcion" class="control-label">Descripción de Contrato</label>
                                    <input asp-for="Descripcion" class="form-control" maxlength="200" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdSituacion" class="control-label">Situación Contrato</label>
                                    <select asp-for="IdSituacion" class="form-control" asp-items="ViewBag.IdSituacion">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="FeIniRelacion" class="control-label">Fecha Inicio Relación</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control float-left" id="FeIniRelacion" asp-for="StrFeIniRelacion">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <!--input type="hidden" id="StrFeIniRelacion" asp-for="StrFeIniRelacion" /-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="FeIniContrato" class="control-label">Fecha inicio Contrato</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control float-left" id="FeIniContrato" asp-for="StrFeIniContrato">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <!--input type="hidden" id="StrFeIniContrato" asp-for="StrFeIniContrato" /-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="FeFinContrato" class="control-label">Fecha Fin de Contrato</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control float-left" id="FeFinContrato" asp-for="StrFeFinContrato">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <!--input type="hidden" id="StrFeFinContrato" asp-for="StrFeFinContrato" /-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ClausulaSalida" class="control-label">Clausula de Salida</label>
                                    <input asp-for="ClausulaSalida" class="form-control" maxlength="50" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Penalidad" class="control-label">Penalidad</label>
                                    <input asp-for="Penalidad" type="checkbox" class="form-control"
                                           data-bootstrap-switch data-off-color="danger" data-on-color="primary"
                                           data-off-text="NO" data-on-text="SI">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="DetallePenalidad" class="control-label">Detalle de Penalidad</label>
                                    <input asp-for="DetallePenalidad" class="form-control" maxlength="200" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdSeveridad" class="control-label">Severidad para Prescindir</label>
                                    <select id="IdSeveridad" asp-for="IdSeveridad" class="form-control" asp-items="ViewBag.IdSeveridad">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdTipoObligacion" class="control-label">Tipo Obligación</label>
                                    <select asp-for="IdTipoObligacion" class="form-control" asp-items="ViewBag.IdTipoObligacion">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdFrecPago" class="control-label">Frencuencia de Pago</label>
                                    <select asp-for="IdFrecPago" class="form-control" asp-items="ViewBag.IdFrecPago">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdTipoConsumo" class="control-label">Tipo de Consumo</label>
                                    <select asp-for="IdTipoConsumo" class="form-control" asp-items="ViewBag.IdTipoConsumo">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Capexeado" class="control-label">Capexeado</label>
                                    <input asp-for="Capexeado" type="checkbox" class="form-control"
                                           data-bootstrap-switch data-off-color="danger" data-on-color="primary"
                                           data-off-text="NO" data-on-text="SI">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="RenoAuto" class="control-label">Renovación Automática</label>

                                    <input asp-for="RenoAuto" type="checkbox" name="my-checkbox"
                                           data-bootstrap-switch data-off-color="danger" data-on-color="primary"
                                           data-off-text="NO" data-on-text="SI">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdSubgerencia" class="control-label">Subgerencia</label>
                                    <select asp-for="IdSubgerencia" class="form-control" asp-items="ViewBag.IdSubgerencia">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdMoneda" class="control-label">Moneda</label>
                                    <select id="IdMoneda" asp-for="IdMoneda" class="form-control" asp-items="ViewBag.IdMoneda">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ImpoUnitSinIgv" class="control-label">Importe Sin IGV</label>
                                    <input id="ImpoUnitSinIgv" asp-for="ImpoUnitSinIgv" class="form-control" maxlength="18" onkeypress="return isNumberKey(event)" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Impuestos</label>
                                    <input asp-for="Impuestos" id="impuestos" type="text" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Tipo de Cambio</label>
                                    <input asp-for="TipoCambio" id="TipoCambio" type="text" class="form-control" maxlength="4" />
                                </div>
                            </div>



                            <div class="col-sm-3" style="display:none">
                                <div class="form-group">
                                    <label asp-for="IdParaRevision" class="control-label">Parámetro Revisión</label>
                                    <select asp-for="IdParaRevision" class="form-control" asp-items="ViewBag.IdParaRevision">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Observacion" class="control-label">Observacion</label>
                                    <input asp-for="Observacion" class="form-control" maxlength="300" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ImpoUnitConIgv" class="control-label">Importe Con IGV</label>
                                    <input id="ImpoUnitConIgv" asp-for="ImpoUnitConIgv" class="form-control" readonly />
                                </div>
                            </div>


                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Importe Total MN</label>
                                    <input asp-for="ImporteTotalMN" id="ImporteTotalMN" type="text" class="form-control" readonly />
                                </div>
                            </div>


                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="AnioIniRelacion" class="control-label">Año Inicio Relación</label>
                                    <input id="AnioIniRelacion" asp-for="AnioIniRelacion" class="form-control" readonly />
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="DiasPorVencer" class="control-label">Días por vencer</label>
                                    <input id="DiasPorVencer" asp-for="DiasPorVencer" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdVigencia" class="control-label">Vigencia</label>
                                    <select id="IdVigencia" asp-for="IdVigencia" class="form-control" asp-items="ViewBag.IdVigencia" readonly>
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="AniosContrato" class="control-label">Años de Contrato</label>
                                    <input id="AniosContrato" asp-for="AniosContrato" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ReglaMesesPrevios" class="control-label">Regla Meses Previos</label>
                                    <input id="ReglaMesesPrevios" asp-for="ReglaMesesPrevios" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ReglaFechaRevision" class="control-label">Regla Fecha Revisión</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control float-left" id="ReglaFechaRevision" asp-for="StrReglaFechaRevision" readonly>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <!--input type="hidden" id="StrReglaFechaRevision" asp-for="StrReglaFechaRevision" /-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="CantMeses" class="control-label">Cantidad Meses Contratado</label>
                                    <input id="cantidadmeses" asp-for="CantMeses" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="UrlContrato" class="control-label">Url del contrato</label>
                                    <input id="urlcontrato" asp-for="UrlContrato" class="form-control" maxlength="350" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="NotaReno" class="control-label">Notas de Renovación</label>
                                    <input id="notareno" asp-for="NotaReno" class="form-control" maxlength="350" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-contrato">
                <div class="card-header" id="headDos">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. Datos presupuestales
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headDos" data-parent="#accordionContrato">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdTipoGasto" class="control-label">Tipo de Gasto</label>
                                    <select asp-for="IdTipoGasto" class="form-control" asp-items="ViewBag.IdTipoGasto">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdCategoria" class="control-label">Categoría</label>
                                    <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdRubro" class="control-label">Rubro</label>
                                    <select asp-for="IdRubro" class="form-control" asp-items="ViewBag.IdRubro">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdAreaFuncional" class="control-label">Area Funcional</label>
                                    <select asp-for="IdAreaFuncional" class="form-control" asp-items="ViewBag.IdAreaFuncional">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="BusinessCase" class="control-label">BusinessCase</label>
                                    <input asp-for="BusinessCase" type="checkbox" class="form-control"
                                           data-bootstrap-switch data-off-color="danger" data-on-color="primary"
                                           data-off-text="NO" data-on-text="SI">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdUnidadMedida" class="control-label">Unidad de Medida</label>
                                    <select asp-for="IdUnidadMedida" class="form-control" asp-items="ViewBag.IdUnidadMedida">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Cantidad" class="control-label">Cantidad</label>
                                    <input asp-for="Cantidad" class="form-control" maxlength="5" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Proyecto" class="control-label">Proyecto</label>
                                    <input asp-for="Proyecto" class="form-control" maxlength="50" />
                                </div>
                            </div>


                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdClasificacion" class="control-label">Clasificación</label>
                                    <select asp-for="IdClasificacion" class="form-control" asp-items="ViewBag.IdClasificacion">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="ReviOpexAnioSiguiente" class="control-label"></label>
                                <input asp-for="ReviOpexAnioSiguiente" class="form-control" />
                                <span asp-validation-for="ReviOpexAnioSiguiente" class="text-danger"></span>
                            </div>
                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-contrato">
                <div class="card-header" id="headTres">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. Importes
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headTres" data-parent="#accordionContrato">
                    <div class="card-body">
                        <div class="row">
                            <!--<div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="ResponsableTi" class="control-label">Responsable TI</label>
                                <input asp-for="ResponsableTi" class="form-control" />
                                <span asp-validation-for="ResponsableTi" class="text-danger"></span>
                            </div>
                        </div>-->

                            <div class="table-responsive">
                                <table id="tlbImportes" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Año</th>
                                            <th>Importe total contratado sin impuestos</th>
                                            <th>N° meses</th>
                                            <th>IGV</th>
                                            <th>Importe unitario inc IGV (moneda del servicio)</th>
                                            <th>Importe Unitario Valorizado en S/ IGV + Credito fiscal</th>
                                            <th>Observaciones</th>
                                            <th>Clasificación</th>
                                            <th>Estrategia</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.TbContratoImporte.Count; i++)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => Model.TbContratoImporte.ElementAt(i).Anio)</td>
                                                <td>@Html.DisplayFor(modelItem => Model.TbContratoImporte.ElementAt(i).ImpoAnualIgv)</td>
                                                <td>@Html.DisplayFor(modelItem => Model.TbContratoImporte.ElementAt(i).NroMeses)</td>
                                                <td>@Html.DisplayFor(modelItem => Model.TbContratoImporte.ElementAt(i).Igv)</td>
                                                <td>@Html.DisplayFor(modelItem => Model.TbContratoImporte.ElementAt(i).ImpoTotalIgv)</td>
                                                <td>@Html.DisplayFor(modelItem => Model.TbContratoImporte.ElementAt(i).ImpoTotalSoles)</td>
                                                <td>
                                                    <input type="text" class="form-control" asp-for="@Model.TbContratoImporte.ElementAt(i).Observacion" name="TbContratoImporte[@i].Observacion" maxlength="100" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" asp-for="@Model.TbContratoImporte.ElementAt(i).Clasificacion" name="TbContratoImporte[@i].Clasificacion" maxlength="100" />
                                                </td>
                                                <td>
                                                    <select asp-for="@Model.TbContratoImporte.ElementAt(i).IdEstrategia" name="TbContratoImporte[@i].IdEstrategia" class="form-control"
                                                            asp-items="ViewBag.IdEstrategia"></select>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="otroscontroles">
            @for (int i = 0; i < Model.TbContratoImporte.Count; i++)
            {                
                <input type="hidden" name="TbContratoImporte[@i].Anio" value="@Model.TbContratoImporte.ElementAt(i).Anio" />
                <input type="hidden" name="TbContratoImporte[@i].ImpoAnualIgv" value="@Model.TbContratoImporte.ElementAt(i).ImpoAnualIgv" />
                <input type="hidden" name="TbContratoImporte[@i].NroMeses" value="@Model.TbContratoImporte.ElementAt(i).NroMeses" />
                <input type="hidden" name="TbContratoImporte[@i].Igv" value="@Model.TbContratoImporte.ElementAt(i).Igv" />
                <input type="hidden" name="TbContratoImporte[@i].ImpoTotalIgv" value="@Model.TbContratoImporte.ElementAt(i).ImpoTotalIgv" />
                <input type="hidden" name="TbContratoImporte[@i].ImpoTotalSoles" value="@Model.TbContratoImporte.ElementAt(i).ImpoTotalSoles" />
            }
        </div>

        <div class="card-footer">            
            <a asp-action="Recargar" class="btn btn-default float-left">Cancelar</a>
            <!--<input type="button" value="Probar" onclick="traerdatatable()" class="btn btn-primary float-right" />-->
            <input type="submit" value="Grabar" class="btn btn-primary float-right" />
        </div>
    </form>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <script>
        $(document).ready(function () {
            $('#FeIniRelacion').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });
            $('#FeIniContrato').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }

            }, function (start, end) {
                var feinicial = new Date(Date.parse(start));
                $('#FeFinContrato').daterangepicker({
                    singleDatePicker: true,
                    minDate: feinicial,
                    locale: {
                        format: 'DD/MM/YYYY'
                    }
                });

                $('#FeIniRelacion').daterangepicker({
                    singleDatePicker: true,
                    maxDate: feinicial,
                    locale: {
                    format: 'DD/MM/YYYY'
                    }
                });
            });
            $('#FeFinContrato').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $("#FeIniContrato").change(calculaMeses);
            $("#FeFinContrato").change(calculaMeses);
            $("#ImpoUnitSinIgv").change(calculaMeses);
            $("#TipoCambio").change(calculaMeses);
            $("#ImpoUnitSinIgv").change(calculaImportes);
            $("#IdMoneda").change(asignaTipoCambio);
            $("#TipoCambio").change(calculaImporteMN);
            $("#FeIniRelacion").change(obtienteAnioRel);
            $("#FeFinContrato").change(obtieneDiasVencer);
            $("#FeFinContrato").change(setFechaReglaValidacion);
            $("#IdSeveridad").change(getTabla);
            //$("#ReglaMesesPrevios").change(setFechaReglaValidacion);

            obtienteAnioRel();
            obtieneDiasVencer();
            //calculaMeses();
            setFechaReglaValidacion();

            $("#tlbImportes").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
            });

             $("input[data-bootstrap-switch]").each(function(){
              $(this).bootstrapSwitch('state', $(this).prop('checked'));
            });
        });



        function getAbsoulteMonths(momentDate) {
          var meses = Number(momentDate.format("MM"));
          var anios = Number(momentDate.format("YYYY"));
          return meses + (anios * 12);
        }

        function calculaMeses() {
            var start  = moment($("#FeIniContrato").val(),'DD/MM/YYYY');
            var end = moment($("#FeFinContrato").val(),'DD/MM/YYYY');
            var startMonths = getAbsoulteMonths(start);
            var endMonths = getAbsoulteMonths(end);
            //$("#cantidadmeses").val(endMonths - startMonths + 1);
            $("#cantidadmeses").val(Math.round(moment(end).diff(start, 'months', true)));
            $("#AniosContrato").val((end.diff(start, 'days') /365).toFixed(1));

            populateTableImportes(start, end, endMonths - startMonths + 1);
        }

        function calculaImportes() {
            var montosinigv = $("#ImpoUnitSinIgv").val();
            $("#impuestos").val((montosinigv * 0.18).toFixed(2));
            $("#ImpoUnitConIgv").val((Number(montosinigv) + Number(montosinigv * 0.18)).toFixed(2));
            calculaImporteMN();
        }

        function asignaTipoCambio() {
            var IdMoneda = $("#IdMoneda").val();
            if (IdMoneda != -1) {
                $.ajax(
                    {
                        type: "GET",
                        url: '/Contrato/GetTabla?idTabla=' + IdMoneda,

                        error: function (result) {
                            console.log("Hubo un problema intente de nuevo");
                        },
                        success: function (result) {
                            console.log(result);
                            $("#TipoCambio").val(result.data.valor);
                            calculaImporteMN();
                        }
                    });
            } else {
                $("#TipoCambio").val(1);
                calculaImporteMN();
            }
        }

        function calculaImporteMN() {
            var TipoCambio = $("#TipoCambio").val();

            if (TipoCambio == "") {
                $("#ImporteTotalMN").val(0);
            } else {
                $("#ImporteTotalMN").val((TipoCambio*$("#ImpoUnitConIgv").val()).toFixed(2));
            }
        }

        function obtienteAnioRel() {
            var FeIniRelacion  = moment($("#FeIniRelacion").val(),'DD/MM/YYYY');
            var anioRelacion = Number(FeIniRelacion.format("YYYY"));
            $("#AnioIniRelacion").val(anioRelacion);
        }

        function obtieneDiasVencer() {
            var ahora = moment();
            var end = moment($("#FeFinContrato").val(), 'DD/MM/YYYY');
            //end.add('days', 1);
            var diasvencer = end.diff(ahora, 'days');
            $("#DiasPorVencer").val(diasvencer);
            if (diasvencer < 0) {
                $("#IdVigencia").val(85); //85 id vencido
            } else {
                $("#IdVigencia").val(36); // 36 vigente
            }
        }


        @{string variable = "";
            foreach (var std in ViewData["IdEstrategia"] as SelectList)
            {
                variable += "<option value="+@std.Value+">"+@std.Text+"</option>";
            }

        }

        function htmlDecode(input){
          var doc = new DOMParser().parseFromString(input, "text/html");
          return doc.documentElement.textContent;
        }

        var varopciones = htmlDecode("@variable");

        function populateTableImportes(fromDate, toDate, numberOfMonths) {
            var from = Number(fromDate.format("YYYY"));
            var to = Number(toDate.format("YYYY"));

            var importe = $("#ImpoUnitSinIgv").val() == "" ? 0 : $("#ImpoUnitSinIgv").val();
            var TipoCambio = $("#TipoCambio").val() == "" ? 1 : $("#TipoCambio").val();

            var tlbImportes = $('#tlbImportes').DataTable();
            tlbImportes.clear().draw();

            $("#otroscontroles").empty();
            var numitem = 0;
            for (var i = from; i <= to; i++) {
                var nOfMothsPerYear = 12;
                if (to == from) {
                    nOfMothsPerYear = Number(toDate.format("MM")) - Number(fromDate.format("MM")) + 1;
                }else if (i == from) {
                    nOfMothsPerYear = 13 - Number(fromDate.format("MM"));
                }else if (i == to) {
                    nOfMothsPerYear = Number(toDate.format("MM"));
                }
                tlbImportes.row.add([
                    i,
                    (importe / numberOfMonths * nOfMothsPerYear).toFixed(2),
                    nOfMothsPerYear,
                    (importe / numberOfMonths * nOfMothsPerYear * 0.18).toFixed(2),
                    (importe / numberOfMonths * nOfMothsPerYear * 1.18).toFixed(2),
                    (importe / numberOfMonths * nOfMothsPerYear * 1.18*TipoCambio).toFixed(2),
                    '<input type="text" class="form-control" value="" maxlength="100" name="TbContratoImporte['+numitem+'].Observacion"/>',
                    '<input type="text" class="form-control" value="" maxlength="100" name="TbContratoImporte['+numitem+'].Clasificacion"/>',
                    '<select class="form-control" name="TbContratoImporte['+numitem+'].IdEstrategia">'+varopciones +
                    '</select>'
                ]).draw();

                var aniohtml = '<input type="hidden" name="TbContratoImporte[' + numitem + '].Anio" value="'+i+'"/>';
                var impoanualigvhtml = '<input type="hidden" name="TbContratoImporte[' + numitem + '].ImpoAnualIgv" value="'+(importe / numberOfMonths * nOfMothsPerYear).toFixed(2)+'"/>';
                var nromeseshtml = '<input type="hidden" name="TbContratoImporte[' + numitem + '].NroMeses" value="'+nOfMothsPerYear+'"/>';
                var igvhtml = '<input type="hidden" name="TbContratoImporte[' + numitem + '].Igv" value="'+(importe / numberOfMonths * nOfMothsPerYear * 0.18).toFixed(2)+'"/>';
                var impototaligvhtml = '<input type="hidden" name="TbContratoImporte[' + numitem + '].ImpoTotalIgv" value="'+(importe / numberOfMonths * nOfMothsPerYear * 1.18).toFixed(2)+'"/>';
                var impototalsoleshtml = '<input type="hidden" name="TbContratoImporte[' + numitem + '].ImpoTotalSoles" value="'+(importe / numberOfMonths * nOfMothsPerYear * 1.18*TipoCambio).toFixed(2)+'"/>';

                $("#otroscontroles").append(aniohtml, impoanualigvhtml, nromeseshtml, nromeseshtml, igvhtml, impototaligvhtml, impototalsoleshtml);

                numitem++;
            }
        }

        function setFechaReglaValidacion() {
            var fincontrato = moment($("#FeFinContrato").val(), 'DD/MM/YYYY');
            var ReglaMesesPrevios = $("#ReglaMesesPrevios").val();
            if (ReglaMesesPrevios == 0) {
                $("#ReglaFechaRevision").val("");
            } else {
                fincontrato.subtract(ReglaMesesPrevios, 'months');
                $("#ReglaFechaRevision").val(fincontrato.format('DD/MM/YYYY'));
            }
        }

        function getTabla() {
            var IdSeveridad = $("#IdSeveridad").val();
            if (IdSeveridad != -1) {
                $.ajax(
                    {
                        type: "GET",
                        url: '/Contrato/GetTabla?idTabla=' + IdSeveridad,

                        error: function (result) {
                            console.log("Hubo un problema intente de nuevo");
                        },
                        success: function (result) {
                            console.log(result);
                            $("#ReglaMesesPrevios").val(result.data.valor);
                            setFechaReglaValidacion();
                        }
                    });
            } else {
                $("#ReglaMesesPrevios").val(0);
            }
        }

        function isNumberKey(evt){
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
        }

        function setDate() {
            //$("#StrFeIniRelacion").val($("#FeIniRelacion").val());
            //$("#StrFeIniContrato").val($("#FeIniContrato").val());
            //$("#StrFeFinContrato").val($("#FeFinContrato").val());
            //$("#StrReglaFechaRevision").val($("#ReglaFechaRevision").val());
        }
    </script>
</section>

