﻿@model cerebro.Models.TbContrato

@{
    ViewData["Title"] = "Edit";
}

<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Control y Seguimiento</a></li>
            <li class="breadcrumb-item">Mantenimiento de Contrato</li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
    </nav>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form asp-action="Edit">                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdContrato" />
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="NuContrato" class="control-label">Contrato</label>
                                    <input asp-for="NuContrato" class="form-control" />
                                    <span asp-validation-for="NuContrato" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ReglAnioRevi" class="control-label">Regla Año Revisión</label>
                                    <input asp-for="ReglAnioRevi" class="form-control" />
                                    <span asp-validation-for="ReglAnioRevi" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ReglMesRevi" class="control-label">Regla Mes Revisión</label>
                                    <input asp-for="ReglMesRevi" class="form-control" />
                                    <span asp-validation-for="ReglMesRevi" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdCategoria" class="control-label">Categoría</label>
                                    <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdCategoria" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdRubro" class="control-label">Rubro</label>
                                    <select asp-for="IdRubro" class="form-control" asp-items="ViewBag.IdRubro">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdRubro" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Descripcion" class="control-label">Descripción</label>
                                    <input asp-for="Descripcion" class="form-control" />
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="NuProveedor" class="control-label">Código Proveedor</label>
                                    <input asp-for="NuProveedor" class="form-control" />
                                    <span asp-validation-for="NuProveedor" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Proveedor" class="control-label">Nombre Proveedor</label>
                                    <input asp-for="Proveedor" class="form-control" />
                                    <span asp-validation-for="Proveedor" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdSeveridad" class="control-label">Severidad</label>
                                    <select asp-for="IdSeveridad" class="form-control" asp-items="ViewBag.IdSeveridad">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdSeveridad" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdParaRevision" class="control-label">Parámetro Revisión</label>
                                    <select asp-for="IdParaRevision" class="form-control" asp-items="ViewBag.IdParaRevision">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdParaRevision" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdSituacion" class="control-label">Situación</label>
                                    <select asp-for="IdSituacion" class="form-control" asp-items="ViewBag.IdSituacion">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdSituacion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="AniosContrato" class="control-label">Años de Contrato</label>
                                    <input asp-for="AniosContrato" class="form-control" />
                                    <span asp-validation-for="AniosContrato" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdFrecPago" class="control-label">Frencuencia de Pago</label>
                                    <select asp-for="IdFrecPago" class="form-control" asp-items="ViewBag.IdFrecPago">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdFrecPago" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="CantMeses" class="control-label">Cantidad de Meses</label>
                                    <input asp-for="CantMeses" class="form-control" />
                                    <span asp-validation-for="CantMeses" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdTipoConsumo" class="control-label">Tipo de Consumo</label>
                                    <select asp-for="IdTipoConsumo" class="form-control" asp-items="ViewBag.IdTipoConsumo">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdTipoConsumo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="RenoAuto" class="control-label">Renovación Automática</label>
                                    <input asp-for="RenoAuto" class="form-control" />
                                    <span asp-validation-for="RenoAuto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdMoneda" class="control-label">Moneda</label>
                                    <select asp-for="IdMoneda" class="form-control" asp-items="ViewBag.IdMoneda">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdMoneda" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdTipoGasto" class="control-label">Tipo de Gasto</label>
                                    <select asp-for="IdTipoGasto" class="form-control" asp-items="ViewBag.IdTipoGasto">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdTipoGasto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="CoProyActual" class="control-label">Proyecto Actual</label>
                                    <input asp-for="CoProyActual" class="form-control" />
                                    <span asp-validation-for="CoProyActual" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="CoProyAnterior" class="control-label">Proyecto Anterior</label>
                                    <input asp-for="CoProyAnterior" class="form-control" />
                                    <span asp-validation-for="CoProyAnterior" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdClasificacion" class="control-label">Clasificación</label>
                                    <select asp-for="IdClasificacion" class="form-control" asp-items="ViewBag.IdClasificacion">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdClasificacion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdTipoObligacion" class="control-label">Tipo Obligación</label>
                                    <select asp-for="IdTipoObligacion" class="form-control" asp-items="ViewBag.IdTipoObligacion">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdTipoObligacion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ReviOpexAnioSiguiente" class="control-label"></label>
                                    <input asp-for="ReviOpexAnioSiguiente" class="form-control" />
                                    <span asp-validation-for="ReviOpexAnioSiguiente" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ClausulaSalida" class="control-label">Clausula de Salida</label>
                                    <input asp-for="ClausulaSalida" class="form-control" />
                                    <span asp-validation-for="ClausulaSalida" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Penalidad" class="control-label">Penalidad</label>
                                    <input asp-for="Penalidad" class="form-control" />
                                    <span asp-validation-for="Penalidad" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="DetallePenalidad" class="control-label">Detalle de Penalidad</label>
                                    <input asp-for="DetallePenalidad" class="form-control" />
                                    <span asp-validation-for="DetallePenalidad" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="FeIniRelacion" class="control-label">Fecha Inicio Relación</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control float-left" id="FeIniRelacion" asp-for="FeIniRelacion">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <span asp-validation-for="FeIniRelacion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="AnioIniRelacion" class="control-label">Año Inicio Relación</label>
                                    <input asp-for="AnioIniRelacion" class="form-control" />
                                    <span asp-validation-for="AnioIniRelacion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="FeIniContrato" class="control-label">Fecha inicio Contrato</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control float-left" id="FeIniContrato" asp-for="FeIniContrato">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <span asp-validation-for="FeIniContrato" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="FeFinContrato" class="control-label">Fecha Fin de Contrato</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control float-left" id="FeFinContrato" asp-for="FeFinContrato">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <span asp-validation-for="FeFinContrato" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="DiasPorVencer" class="control-label">Días por vencer</label>
                                    <input asp-for="DiasPorVencer" class="form-control" />
                                    <span asp-validation-for="DiasPorVencer" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="CantidadMeses" class="control-label">Cantidad</label>
                                    <input asp-for="CantidadMeses" class="form-control" />
                                    <span asp-validation-for="CantidadMeses" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ReglaMesesPrevios" class="control-label">Meses Previos</label>
                                    <input asp-for="ReglaMesesPrevios" class="form-control" />
                                    <span asp-validation-for="ReglaMesesPrevios" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ReglaFechaRevision" class="control-label">Fecha Revisión</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control float-left" id="ReglaFechaRevision" asp-for="ReglaFechaRevision">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <span asp-validation-for="ReglaFechaRevision" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Capexeado" class="control-label">Capexeado</label>
                                    <input asp-for="Capexeado" class="form-control" />
                                    <span asp-validation-for="Capexeado" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ResponsableTi" class="control-label">Responsable TI</label>
                                    <input asp-for="ResponsableTi" class="form-control" />
                                    <span asp-validation-for="ResponsableTi" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdUnidadMedida" class="control-label">Unidad de Medida</label>
                                    <select asp-for="IdUnidadMedida" class="form-control" asp-items="ViewBag.IdUnidadMedida">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdUnidadMedida" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ImpoUnitSinIgv" class="control-label">Importe Sin IGV</label>
                                    <input asp-for="ImpoUnitSinIgv" class="form-control" />
                                    <span asp-validation-for="ImpoUnitSinIgv" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Cantidad" class="control-label">Cantidad</label>
                                    <input asp-for="Cantidad" class="form-control" />
                                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ImpoUnitConIgv" class="control-label">Importe Con IGV</label>
                                    <input asp-for="ImpoUnitConIgv" class="form-control" />
                                    <span asp-validation-for="ImpoUnitConIgv" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Estado" class="control-label">Estado</label>
                                    <input asp-for="Estado" class="form-control" />
                                    <span asp-validation-for="Estado" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdAreaFuncional" class="control-label">Area Funcional</label>
                                    <select asp-for="IdAreaFuncional" class="form-control" asp-items="ViewBag.IdAreaFuncional">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdAreaFuncional" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="BusinessCase" class="control-label">BusinessCase</label>
                                    <input asp-for="BusinessCase" class="form-control" />
                                    <span asp-validation-for="BusinessCase" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Proyecto" class="control-label">Proyecto</label>
                                    <input asp-for="Proyecto" class="form-control" />
                                    <span asp-validation-for="Proyecto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="Observacion" class="control-label">Observacion</label>
                                    <input asp-for="Observacion" class="form-control" />
                                    <span asp-validation-for="Observacion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdVigencia" class="control-label">Vigencia</label>
                                    <select asp-for="IdVigencia" class="form-control" asp-items="ViewBag.IdVigencia">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdVigencia" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="IdSubgerencia" class="control-label">Subgerencia</label>
                                    <select asp-for="IdSubgerencia" class="form-control" asp-items="ViewBag.IdSubgerencia">
                                        <option value="-1">-- Seleccione --</option>
                                    </select>
                                    <span asp-validation-for="IdSubgerencia" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Index" class="btn btn-default float-left">Cancelar</a>
                        <input type="submit" value="Grabar" class="btn btn-primary float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <script>
        $(document).ready(function () {
           $('#FeIniRelacion').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });
            $('#FeIniContrato').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }

            });
            $('#FeFinContrato').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });
            $('#ReglaFechaRevision').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });
            $("#FeIniContrato").change(calculaMeses);
            $("#FeFinContrato").change(calculaMeses);
            $("#ImpoUnitSinIgv").change(calculaMeses);
            /*
            $('#FeIniRelacion').daterangepicker({
                singleDatePicker: true
            });
            $('#FeIniContrato').daterangepicker({
                singleDatePicker: true
            });
            $('#FeFinContrato').daterangepicker({
                singleDatePicker: true
            });            
            $('#ReglaFechaRevision').daterangepicker({
                singleDatePicker: true
            });*/
        })
    </script>
</section>

