﻿@model cerebro.Models.ContratoView
@{
    ViewData["Title"] = "Index";
}
    
<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Control y Seguimiento</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mantenimiento de Contrato</li>
        </ol>
    </nav>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form asp-controller="Contrato" asp-action="Index">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-2">
                                <span>Proveedor</span>
                            </div>
                            <div class="col-2">
                                <select asp-for="Contrato.NuProveedor" class="form-control" asp-items="ViewBag.IdProveedor">
                                    <option value="-1">-- Todos --</option>
                                </select>
                            </div>

                            <div class="col-2">
                                <span>Categoria</span>
                            </div>
                            <div class="col-2">
                                <select asp-for="Contrato.IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria">
                                    <option value="-1">-- Todos --</option>
                                </select>
                            </div>

                            <div class="col-2">
                                <span>Rubro</span>
                            </div>
                            <div class="col-2">
                                <select asp-for="Contrato.IdRubro" class="form-control" asp-items="ViewBag.IdRubro">
                                    <option value="-1">-- Todos --</option>
                                </select>
                            </div>

                            <div class="col-2">
                                <span>Vigencia</span>
                            </div>
                            <div class="col-2">
                                <select asp-for="Contrato.IdVigencia" class="form-control" asp-items="ViewBag.IdVigencia">
                                    <option value="-1">-- Todos --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" align="center">
                        <input type="submit" id="btnBuscar" value="Buscar" class="btn btn-primary" />
                        
                        <a asp-action="Index" class="btn btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4 header-cerebro" align="left">            
                <a class="btn btn-primary" asp-action="ExportaMantenimiento"><i class="far fa-file-excel"></i> Exportar Excel</a>            
                <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i> Agregar</a>            
        </div>

            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-header">
                        <h3 class="card-title">Lista de Contratos</h3>

                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover" id="tbldata">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Categoría</th>
                                    <th>Rubro</th>
                                    <th>Descripción<span style="visibility:hidden">amsmadsfmasmasdnasdfna</span></th>
                                    <th>Subgerencia</th>
                                    <th>Proveedor</th>
                                    <th>Inicio de Contrato</th>
                                    <th>Fin de Contrato</th>
                                    <th>Cantidad de Meses</th>
                                    <th>Estado Revisión</th>
                                    <th>Severidad para Prescindir</th>
                                    <th>Situación de Contrato</th>
                                    <th>Frecuencia de Pago</th>
                                    <th>Tipo de Consumo</th>
                                    <th>Renovación Automática</th>
                                    <th>Moneda</th>
                                    <th>Importe con IGV</th>
                                    <th>Tipo de Gasto</th>
                                    <th>Clasificación</th>
                                    <th>Tipo de Oblicación</th>
                                    <th>Clausula de Salida</th>
                                    <th>Penalidad</th>
                                    <th>Detalle de Penalidad</th>
                                    <th>Años de Contrato</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Contratos)
                                {
                                <tr>
                                    <td>
                                        <!--<a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdContrato"><i class="fas fa-edit"></i></a>-->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-primary" data-toggle="dropdown">Acción</button>
                                            <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                <div class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item" onclick="editar(@item.IdContrato)"><i class="fas fa-edit"></i> Modificar</a>
                                                    <a class="dropdown-item" onclick="renovar(@item.IdContrato)"><i class="far fa-copy"></i> Renovar</a>
                                                    <a class="dropdown-item" onclick="confirmarEliminar(@item.IdContrato)"><i class="fas fa-trash"></i> Eliminar</a>
                                                </div>
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeCategoria)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeRubro)
                                    </td>
                                    <td colspan="1">
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeSubgerencia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Proveedor)
                                    </td>
                                    <td>
                                        @Convert.ToDateTime(item.FeIniContrato).ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @Convert.ToDateTime(item.FeFinContrato).ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CantMeses)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeEstadoRev)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeSeveridad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeSituacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeFrecPago)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeTipoConsumo)
                                    </td>
                                    <td>
                                        @(item.RenoAuto == true ? "Si" : "No")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeMoneda)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ImpoUnitConIgv)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeTipoGasto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeClasificacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeTipoObligacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClausulaSalida)
                                    </td>
                                    <td>
                                        @(item.Penalidad == true ? "Si" : "No")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DetallePenalidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AniosContrato)
                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

    <div id="tree" class="treeview"></div>

    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmación</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Confirma que desea eliminar el contrato?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmaEliminar">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#tbldata').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "language": {
                    "info": "Mostrando del _START_ al _END_ de _TOTAL_ registros",
                    "paginate": {
                        "first":      "Primero",
                        "last":       "Ultimo",
                        "next":       "Proximo",
                        "previous":   "Previo"
                    }
                }
            });
            
        });

        

        function editar(idContrato) {
            window.location.href = '/Contrato/Edit/' + idContrato;
        }

        function confirmarEliminar(idContrato) {
            $("#modal-delete").modal();
            $("#btnConfirmaEliminar").off('click');
            $("#btnConfirmaEliminar").click(function () {
                eliminar(idContrato);
            });

        }

        function eliminar(idContrato) {
            $.ajax(
                {
                    type: "POST",
                    url: '/Contrato/Delete',
                    data: {
                        IdContrato: idContrato,
                    },
                    error: function (result) {
                        console.log("Error");
                        console.log(result);
                    },
                    success: function (result) {
                        console.log("correcto");
                        console.log(result);
                        $("#detail-delete").modal('hide');
                        $("#btnBuscar").click();
                    }
                });
        }

        function renovar(idContrato) {
            window.location.href = '/Contrato/Renovar/' + idContrato;
        }
    </script>
</section>