﻿@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cerebro</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/plugins/Ionicons/css/ionic.min.css" />
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />

    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <!--Date picker-->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css" />

    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">






    <link rel="stylesheet" href="~/css/site.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <script src="~/plugins/moment/moment.min.js"></script>
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-cerebro">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>


            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" width="30" height="30" alt="User Image">
                        <span>@Context.Session.GetString("Nombre")</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <div class="cerebro-user">
                            <img src="~/dist/img/user2-160x160.jpg" class="img-circle cerebro-user-image" alt="User Image">
                            @*<p>
                                Miguel Angel
                            </p>*@
                        </div>

                        <div class="dropdown-divider"></div>
                        <div class="cerebro-user-footer">
                            @*<div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Perfil</a>
                            </div>*@
                            <div class="pull-right">
                                <a href="/Home/Login" class="btn btn-default btn-flat">Cerrar Sesión</a>
                            </div>
                        </div>

                    </div>
                </li>


                <!--li class="nav-item">
                    <a class="nav-link image" data-toggle="dropdown" href="#">
                        <img src="~/img/salir.png" class="img-circle elevation-2" width="30" height="30" alt="User Image">
                    </a>
                </li-->

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link navbar-cerebro">
                <!--img src="~/img/logo_app.png" alt="Banbif Logo" class="brand-image img-circle elevation-3"-->
                <div align="center" class="brand-text font-weight-light img-brand-logo"><img src="~/img/banbif-logo.png" height="30" width="130" /></div>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                @Html.Partial("_MainMenu")
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            <strong>Copyright © 2018 <a href="https://www.banbif.com.pe">Banbif</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Daterangepicker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/plugins/select2/js/select2.full.min.js"></script>

    <!-- AdminLTE -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script>

        function mostrarAlerta(msj) {
            toastr.options = {
                "timeOut": "750",
            }
            toastr.error(msj);

        }


        /*{
            
        }*/
        $(function () {
            var val = @Context.Session.GetInt32("idrol")+ "";
            console.log(val);
            if (val == 0 || val == undefined) {
                window.location.href = "/Home/Login";
            }
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>