﻿@using Microsoft.AspNetCore.Http;
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a href="#" class="d-block">@Context.Session.GetString("Nombre")</a>
    </div>
</div>
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
       
        @if (@Context.Session.GetInt32("idrol") == 3)
        {
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-cogs"></i>
                    <p>
                        Administración
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Usuario" class="nav-link">
                            <i class="fas fa-user nav-icon"></i>
                            <p>Usuario</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Rol" class="nav-link">
                            <i class="fas fa-users nav-icon"></i>
                            <p>Rol</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Parametro" class="nav-link">
                            <i class="fas fa-table nav-icon"></i>
                            <p>Parámetros</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Organizacion" class="nav-link">
                            <i class="fas fa-sitemap nav-icon"></i>
                            <p>Organización</p>
                        </a>
                    </li>
                </ul>
            </li>
        }
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                    Control y Seguimiento
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a href="/Contrato/ConsultaVenc" class="nav-link">
                        <i class="fas fa-eye nav-icon"></i>
                        <p>Consulta Vencimientos</p>
                    </a>
                </li>
                @if (@Context.Session.GetInt32("idrol") == 3 || @Context.Session.GetInt32("idrol") == 1)
                {
                    <li class="nav-item">
                        <a href="/Contrato" class="nav-link">
                            <i class="fas fa-file-signature nav-icon"></i>
                            <p>Mantenimiento Contrato</p>
                        </a>
                    </li>
                }
            </ul>
        </li>
        @if (@Context.Session.GetInt32("idrol") == 3 || @Context.Session.GetInt32("idrol") == 1)
        {
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-chart-line"></i>
                    <p>
                        Reportes y Auditoría
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Auditoria" class="nav-link">
                            <i class="far fa-newspaper nav-icon"></i>
                            <p>Auditoría</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Dashboard" class="nav-link">
                            <i class="fas fa-tachometer-alt nav-icon"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                </ul>
            </li>
        }
        </ul>
</nav>