﻿@model IEnumerable<cerebro.Models.TbUnidad>

@{
    ViewData["Title"] = "Index";
}

    <style>
        

        .treegrid-indent {
            width: 0px;
            height: 16px;
            display: inline-block;
            position: relative;
        }

        .treegrid-expander {
            width: 0px;
            height: 16px;
            display: inline-block;
            position: relative;
            left: -17px;
            cursor: pointer;
        }
    </style>
<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Administración</a></li>
            <li class="breadcrumb-item active" aria-current="page">Organización</li>
        </ol>
    </nav>
</section>

<section class="content container-fluid">
    <div class="row">

        <div class="col-9"></div>
        <div class="col-3 header-cerebro">
            <a class="btn btn-primary btn-block" href="#" onclick="addUnidad();"><i class="fas fa-plus"></i> Agregar</a>
        </div>

        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Lista de Unidades</h3>

                </div>
                <div class="card-body table-responsive p-0">
                    <table id="tree-table" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                
                                <th>Correo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-id="@item.IdUnidad" data-parent="@(item.IdUnidadPadre == null ? 0 : item.IdUnidadPadre)" data-level="@item.Nivel">
                                    <td data-column="name">
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    
                                    <td>@Html.DisplayFor(modelItem => item.Correo)</td>

                                    <td>
                                        
                                        <a class="btn btn-outline-primary btn-sm" href="#" 
                                           onclick="editar('@item.IdUnidad', '@item.Nombre', '@item.IdUnidadPadre', '@item.IdTipoUnidad', '@item.Estado', '@item.Correo')"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            }
                            <!--
                            <tr data-id="1" data-parent="0" data-level="1">
                                <td data-column="name">Node 1</td>
                                <td>Additional info</td>
                            </tr>
                            <tr data-id="2" data-parent="1" data-level="2">
                                <td data-column="name">Node 1</td>
                                <td>Additional info</td>
                            </tr>
                            <tr data-id="3" data-parent="1" data-level="2">
                                <td data-column="name">Node 1</td>
                                <td>Additional info</td>
                            </tr>
                            <tr data-id="4" data-parent="3" data-level="3">
                                <td data-column="name">Node 1</td>
                                <td>Additional info</td>
                            </tr>
                            <tr data-id="5" data-parent="3" data-level="3">
                                <td data-column="name">Node 1</td>
                                <td>Additional info</td>
                            </tr>
                            -->
                        </tbody>


                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <script src="~/js/site.js"></script>
    <script>
        function addUnidad() {
            $.ajax(
                {
                    type: "GET",
                    url: '/Organizacion/GetUnidades',

                    error: function (result) {
                        console.log(result);
                        console.log("Hubo un problema intente de nuevo");
                    },
                    success: function (result) {
                        var strcmbpadre = "<option value='-1'>-- Ninguno --</option>";
                        console.log(result);
                        if (result.data) {
                            for (var i = 0; i < result.data.length; i++) {
                                strcmbpadre += "<option value='" + result.data[i].idUnidad + "'>" + result.data[i].nombre + "</option>";
                            }
                        }

                        $("#dt-UnidadPadre").html(strcmbpadre);
                        $("#detalle-unidad").modal();

                        $("#dt-idUnidad").val(0);
                        $("#dt-Nombre").val("");
                        $("#dt-UnidadPadre").val(-1);
                        //$("#dt-TipoUnidad").val("");
                        //$("#dt-Estado").val("");
                        $("#dt-Correo").val("");

                    }
                });
        }

        function editar(idUnidad, nombre, idUnidadPadre, idTipoUnidad, estado, correo) {
            
            $.ajax(
                {
                    type: "GET",
                    url: '/Organizacion/GetUnidades',

                    error: function (result) {
                        console.log(result);
                        console.log("Hubo un problema intente de nuevo");
                    },
                    success: function (result) {
                        var strcmbpadre = "<option value='-1'>-- Ninguno --</option>";
                        console.log(result);
                        if (result.data) {
                            for (var i = 0; i < result.data.length; i++) {
                                if (idUnidad != result.data[i].idUnidad) {
                                    strcmbpadre += "<option value='" + result.data[i].idUnidad + "'>" + result.data[i].nombre + "</option>";
                                }
                            }
                        }

                        $("#dt-UnidadPadre").html(strcmbpadre);
                        $("#detalle-unidad").modal();

                        $("#dt-idUnidad").val(idUnidad);
                        $("#dt-Nombre").val(nombre);
                        $("#dt-UnidadPadre").val(idUnidadPadre==''?'-1':idUnidadPadre);
                        $("#dt-TipoUnidad").val(idTipoUnidad);
                        $("#dt-Estado").val(estado);
                        $("#dt-Correo").val(correo);

                    }
                });
        }

        function saveUnidad() {
            $.ajax(
                {
                    type: "POST",
                    url: '/Organizacion/Save',
                    data: {
                        IdUnidad: $('#dt-idUnidad').val(),
                        Nombre: $('#dt-Nombre').val(),
                        IdUnidadPadre: $('#dt-UnidadPadre').val(),
                        IdTipoUnidad: $('#dt-TipoUnidad').val(),
                        Estado: $('#dt-Estado').val(),
                        Correo: $("#dt-Correo").val()
                    },
                    error: function (result) {
                        console.log("Error");
                        console.log(result);
                    },
                    success: function (result) {
                        console.log("correcto");
                        console.log(result);
                        $("#detalle-unidad").modal('hide');
                        window.location.href = "/Organizacion";
                    }
                });
        }

        
        function validaDatos() {
            if ($("#dt-Nombre").val() == "") {
                mostrarAlerta("Ingrese un nombre");
                $("#dt-Nombre").focus();
                return;
            }
            if ($("#dt-Correo").val() == "") {
                mostrarAlerta("Ingrese un correo");
                $("#dt-Correo").focus();
                return;
            }
            saveUnidad();
        }

    </script>
</section>

<div class="modal fade" id="detalle-unidad">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle Unidad</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="dt-idUnidad" class="form-control" />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input id="dt-Nombre" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Unidad Padre</label>
                            <select id="dt-UnidadPadre" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Tipo Unidad</label>
                            <select id="dt-TipoUnidad"
                                    class="form-control"
                                    data-placeholder="Seleccione" asp-items="ViewBag.IdTipoUnidad">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Estado</label>
                            <select id="dt-Estado" class="form-control">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Correo</label>
                            <input id="dt-Correo" class="form-control" maxlength="150" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary" onclick="validaDatos()">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
