﻿@model cerebro.Models.TbRol

@{
    ViewData["Title"] = "Edit";
}

<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Administración</a></li>
            <li class="breadcrumb-item">Roles</li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
    </nav>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form id="frmEntidad" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdRol" />
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Descripcion" class="control-label">Nombre</label>
                                    <input id="txtNombre" asp-for="Descripcion" class="form-control" />
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Estado" class="control-label"></label>
                                    <select asp-for="Estado" class="form-control">
                                        <option value="1">Activo</option>
                                        <option value="0">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Index" class="btn btn-default float-left">Cancelar</a>
                        <input type="button" value="Grabar" onclick="validaDatos()" class="btn btn-primary float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</section>
<script type="text/javascript">
        function validaDatos() {
            if ($("#txtNombre").val() == "") {
                mostrarAlerta("Ingrese un nombre");
                $("#txtNombre").focus();
                return;
            }

            document.getElementById("frmEntidad").submit();
        }
</script>