﻿@model IEnumerable<cerebro.Models.TbRol>

@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Administración</a></li>
            <li class="breadcrumb-item active" aria-current="page">Roles</li>
        </ol>
    </nav>
</section>

<section class="content container-fluid">
    <div class="row">

        <div class="col-9"></div>
        <div class="col-3 header-cerebro">
            <a class="btn btn-primary btn-block" asp-action="Create"><i class="fas fa-plus"></i> Agregar</a>
        </div>

        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Lista de Roles</h3>

                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover" id="tbldata">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdRol)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @(item.Estado == "1" ? "Activo" : "Inactivo")
                                    </td>


                                    <td>
                                        <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdRol"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <script>
        $(function () {
            $('#tbldata').DataTable({
              "paging": true,
              "lengthChange": false,
              "searching": false,
              "ordering": true,
              "info": true,
              "autoWidth": false,
              "language": {
                    "info": "Mostrando del _START_ al _END_ de _TOTAL_ registros"
                }
            });
        });
    </script>
</section>