﻿@model cerebro.Models.TbUsuario

@{
    ViewData["Title"] = "Editar";
}

    <section class="content-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Administración</a></li>
                <li class="breadcrumb-item">Usuarios</li>
                <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
        </nav>
    </section>

    <section class="content container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form id="frmEntidad" asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdUsuario" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Nombres" class="control-label"></label>
                                        <input id="txtNombres" asp-for="Nombres" class="form-control" maxlength="40"/>
                                        <span asp-validation-for="Nombres" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Apellidos" class="control-label"></label>
                                        <input id="txtApellidos" asp-for="Apellidos" class="form-control" maxlength="40" />
                                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Usuario" class="control-label"></label>
                                        <input id="txtUsuario" asp-for="Usuario" class="form-control" maxlength="20" />
                                        <span asp-validation-for="Usuario" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="IdRol" class="control-label"></label>
                                        <select asp-for="IdRol" class="form-control" asp-items="ViewBag.IdRol"></select>
                                        <span asp-validation-for="IdRol" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Correo" class="control-label"></label>
                                        <input id="txtCorreo" asp-for="Correo" class="form-control" maxlength="50"/>
                                        <span asp-validation-for="Correo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Estado" class="control-label"></label>                                        
                                        <select asp-for="Estado" class="form-control">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                        
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="card-footer">
                            <a asp-action="Index" class="btn btn-default float-left">Cancelar</a>
                            <input type="button" value="Grabar" onclick="validaDatos()" class="btn btn-primary float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
</section>

    <script type="text/javascript">
        function validaDatos() {
            if ($("#txtNombres").val() == "") {
                mostrarAlerta("Ingrese un nombre");
                return;
            }
            if ($("#txtApellidos").val() == "") {
                mostrarAlerta("Ingrese los Apellidos");
                return;
            }

            if ($("#txtUsuario").val() == "") {
                mostrarAlerta("Ingrese el Codigo de usuario");
                return;
            }

            if ($("#txtCorreo").val() == "") {
                mostrarAlerta("Ingrese el correo");
                return;
            } 

            document.getElementById("frmEntidad").submit();
        }

        $( document ).ready(function() {
            var msj = "@ViewData["message"]";
            if (msj) {
                mostrarAlerta(msj);
            }
        });
    </script>

