﻿
.img-brand-logo {
    margin-top: -3px;
}

.img-login-logo {
    border-radius: 30px;
}
.card-cerebro {
    background: #fff;
}
.login-card-body {
    background-color: transparent !important;
}

.navbar-gradient {
    background-image: linear-gradient(#0397d7, #026088);
}

.navbar-cerebro {
    background-color: #3c8dbc;
}
.header-cerebro {
    margin-bottom: 10px;
}

.card-contrato {
    margin-bottom:5px;
}

.cerebro-user {
    background-color: #3c8dbc;
    text-align: center;
    padding: 10px;
}
.cerebro-user-image {
    vertical-align: middle;
    height: 90px;
    width: 90px;
}
.cerebro-user>p {
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin-top: 10px;
}
.cerebro-user-footer {
    background-color: #f9f9f9;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}
.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}