﻿@model cerebro.Models.AuditoriaView
@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Reportes y Auditoria</a></li>
            <li class="breadcrumb-item active" aria-current="page">Auditoria</li>
        </ol>
    </nav>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form asp-controller="Auditoria" asp-action="Index">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <span>Fecha:</span>
                            </div>
                            <div class="col-2">
                                <span>Desde</span>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <input asp-for="StrFeDesde" type="text" class="form-control float-left" id="FeDesde">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-2">
                                <span>Hasta</span>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <input asp-for="StrFeHasta" type="text" class="form-control float-left" id="FeHasta">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" align="center">
                        <input type="submit" value="Buscar" class="btn btn-primary" />
                        <input type="reset" value="Cancelar" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Listado de Operaciones</h3>

                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover" id="tbldata">
                        <thead>
                            <tr>
                                <th>Operación</th>
                                <th>Fecha Operación</th>
                                <th>Usuario</th>
                                <th>Contrato</th>
                                <th>Descripción Contrato</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Auditorias)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoOperacion)
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.FeOperacion).ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UsuarioOperacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NuContrato)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeContrato)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $('#FeDesde').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $('#FeHasta').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $('#tbldata').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "language": {
                    "info": "Mostrando del _START_ al _END_ de _TOTAL_ registros"
                }
            });            
        });
    </script>
</section>                  

