﻿@model cerebro.Models.TbDeTablas

@{
    ViewData["Title"] = "Create";
}
<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Administración</a></li>
            <li class="breadcrumb-item">Parámetros</li>
            <li class="breadcrumb-item active" aria-current="page">Agregar</li>
        </ol>
    </nav>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form asp-action="Create" id="frmEntidad">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-body">
                        <div class="row">
                            
                            <!--div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="IdTablaPadre" class="control-label">Tabla Padre</label>
                                    <select asp-for="IdTablaPadre" class="form-control" asp-items="ViewBag.IdTablaPadre">
                                        <option value="-1">-- Ninguno --</option>
                                    </select>
                                </div>
                            </div-->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label">Nombre *</label>
                                    <input id="txtNombre" asp-for="Nombre" class="form-control" maxlength="50"/>
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Descripcion" class="control-label">Descripción</label>
                                    <input asp-for="Descripcion" class="form-control" maxlength="100"/>
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Codigo" class="control-label">Código</label>
                                    <input asp-for="Codigo" class="form-control" maxlength="20"/>
                                    <span asp-validation-for="Codigo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Valor" class="control-label">Valor</label>
                                    <input asp-for="Valor" class="form-control" maxlength="20" onkeypress="return isNumberKey(event)"/>
                                    <span asp-validation-for="Valor" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Estado" class="control-label"></label>
                                    <select asp-for="Estado" class="form-control">
                                        <option value="1">Activo</option>
                                        <option value="0">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Index" class="btn btn-default float-left">Cancelar</a>
                        <input type="button" value="Grabar" onclick="validaDatos()" class="btn btn-primary float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</section>
<script type="text/javascript">
    function validaDatos() {
        if ($("#txtNombre").val() == "") {
            mostrarAlerta("Ingrese un nombre");
            $("#txtNombre").focus();
            return;
        }

        document.getElementById("frmEntidad").submit();
    }


    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31 
        && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    $( document ).ready(function() {
        var msj = '@ViewData["message"]';
        if (msj) {
            mostrarAlerta(msj);
        }
    });
</script>