﻿@model IEnumerable<cerebro.Models.TbDeTablas>

@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Administración</a></li>
            <li class="breadcrumb-item active" aria-current="page">Parámetros</li>
        </ol>
    </nav>
</section>

<section class="content container-fluid">
    <div class="row">

        <div class="col-9"></div>
        <div class="col-3 header-cerebro">
            <a class="btn btn-primary btn-block" asp-action="Create"><i class="fas fa-plus"></i> Agregar</a>
        </div>

        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Lista de Parámetros</h3>

                </div>
                <div class="card-body table-responsive p-0">
                    <table id="tlbparametros" class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <!--<th>
                                Padre
                            </th> -->
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Opciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTabla)
                    </td>
                    <!--<td>
                    @Html.DisplayFor(modelItem => item.IdTablaPadreNavigation.Nombre)
                </td>-->

                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>@(item.Estado == "1" ? "Activo" : "Inactivo")</td>


                    <td>
                        <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdTabla"><i class="fas fa-edit"></i></a>
                        <button type="button" class="btn btn-outline-primary btn-sm" onclick=getChildren("@item.IdTabla")><i class="fas fa-list"></i></button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick=confirmarEliminar("@item.IdTabla")><i class="fas fa-trash"></i></button>
                    </td>
                </tr>}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <a asp-action="Index" id="btnRecargar" class="btn btn-default float-left" style="display:none">Recargar</a>
    </div>
    <script>
        $(function () {
            $('#tlbparametros').DataTable({
              "paging": true,
              "lengthChange": false,
              "searching": false,
              "ordering": true,
              "info": true,
              "autoWidth": false,
              "language": {
                    "info": "Mostrando del _START_ al _END_ de _TOTAL_ registros"
                }
            });

            $("#tlbchildren").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
            });
        });

       
      function getChildren(idParent) {
        $.ajax(
        {
          type: "GET",
          url: '/Parametro/GetChildren?idParent='+idParent,
          
          error: function (result) {
            console.log("Hubo un problema intente de nuevo");
          },
          success: function (result) {
              //console.log(result);
              $("#modal-children").modal();
              $("#btnAddChild").off('click'); 
              $("#btnAddChild").click(function () {                  
                  addChild(idParent);
              });
              populateDataTable(result.data);
          }
        });
        }

        function populateDataTable(data) {
            //$("#tlbchildren").DataTable().clear();
            var tlbchildren = $('#tlbchildren').DataTable();
            tlbchildren.clear().draw();
            var length = Object.keys(data).length;
            for (var i = 0; i < length; i++) {
                var entity = data[i];
                
                tlbchildren.row.add([
                    entity.idTabla,
                    entity.nombre,
                    entity.descripcion,
                    entity.valor,
                    entity.estado == '1'?'Activo':'Inactivo',
                    '<button type="button" class="btn btn-outline-primary btn-sm" onclick=getChild(' + entity.idTabla + ')><i class="fas fa-edit"></i></button>' +
                    '<button type="button" class="btn btn-outline-danger btn-sm" onclick=confirmarEliminarHijo('+entity.idTabla+')><i class="fas fa-trash"></i></button>'
                  ]).draw();
            }
        }
        function getChild(idTabla) {
            $.ajax(
            {
              type: "GET",
              url: '/Parametro/GetChild?idTabla='+idTabla,
          
              error: function (result) {
                console.log("Hubo un problema intente de nuevo");
              },
              success: function (result) {
                  $("#detail-child").modal();
                  populateChild(result.data);                  
              }
            });
        }
        function populateChild(entity) {
            $("#dt-idTabla").val(entity.idTabla);
            $("#dt-Nombre").val(entity.nombre);
            $("#dt-Descripcion").val(entity.descripcion);
            $("#dt-Codigo").val(entity.codigo);
            $("#dt-Valor").val(entity.valor);
            $("#dt-Estado").val(entity.estado);
            $("#dt-idTablaPadre").val(entity.idTablaPadre);            
        }

        function saveTabla() {
            if ($("#dt-Nombre").val() == "") {
                mostrarAlerta("Ingrese un nombre");
                $("#dt-Nombre").focus();
                return;
            }
            $.ajax(
            {
              type: "POST",
              url: '/Parametro/SaveChild',              
              data: {
                IdTabla: $('#dt-idTabla').val(),
                Nombre: $('#dt-Nombre').val(),
                Descripcion: $('#dt-Descripcion').val(),
                Codigo: $('#dt-Codigo').val(),
                Valor: $('#dt-Valor').val(),
                Estado: $('#dt-Estado').val(),
                IdTablaPadre: $('#dt-idTablaPadre').val()
              },
              error: function (result) {
                console.log("Error");
                console.log(result);
              },
              success: function (result) {                
                  console.log(result);
                  if (result.status == 'OK') {
                      $("#detail-child").modal('hide');
                      populateDataTable(result.data);
                  } else {
                      mostrarAlerta(result.message);
                  }
                
              }
            });
        }

        function addChild(idTablaPadre) {
            $("#detail-child").modal();
            $("#dt-idTabla").val(0);
            $("#dt-Nombre").val("");
            $("#dt-Descripcion").val("");
            $("#dt-Codigo").val("");
            $("#dt-Valor").val("");
            $("#dt-Estado").val('1');
            $("#dt-idTablaPadre").val(idTablaPadre);
        }

        function confirmarEliminar(idTabla) {
            $("#modal-delete").modal();
            $("#btnConfirmaEliminar").off('click');
            $("#btnConfirmaEliminar").click(function () {
                eliminar(idTabla);
            });
        }

        function eliminar(idTabla) {
            $.ajax(
                {
                    type: "POST",
                    url: '/Parametro/Delete',
                    data: {
                        idTabla: idTabla,
                    },
                    error: function (result) {
                        console.log("Error");
                        console.log(result);
                    },
                    success: function (result) {
                        console.log("correcto");
                        
                        if (result.data === 'NOOK') {
                            mostrarAlerta(result.message);
                        }
                        if (result.data === 'OK') {
                            document.getElementById('btnRecargar').click();
                        }
                        $("#modal-delete").modal('hide');
                    }
                });
        }

        function isNumberKey(evt){
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        function confirmarEliminarHijo(idTabla) {
            $("#modal-delete").modal();
            $("#btnConfirmaEliminar").off('click');
            $("#btnConfirmaEliminar").click(function () {
                eliminarHijo(idTabla);
            });
        }

        function eliminarHijo(idTabla) {
            $.ajax(
                {
                    type: "POST",
                    url: '/Parametro/DeleteChild',
                    data: {
                        idTabla: idTabla,
                    },
                    error: function (result) {
                        console.log("Error");
                        console.log(result);
                    },
                    success: function (result) {
                        console.log("correcto");
                        
                        if (result.message) {
                            mostrarAlerta(result.message);
                        } else {
                            populateDataTable(result.data);
                        }
                        $("#modal-delete").modal('hide');
                    }
                });
        }
    </script>
</section>
<div class="modal fade" id="modal-delete" style="z-index:1000000000">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Confirma que desea eliminar el registro?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnConfirmaEliminar">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-children">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Parámetros hijos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="col-3 btn btn-sm btn-primary btn-block" id="btnAddChild"><i class="fas fa-plus"></i> Agregar</button>
                <div class="table-responsive">
                    <table id="tlbchildren" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Valor</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="detail-child">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle de Parámetro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="dt-idTabla" class="form-control" />
                <input type="hidden" id="dt-idTablaPadre" class="form-control" />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Nombre *</label>
                            <input id="dt-Nombre" class="form-control" maxlength="50"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Descripción</label>
                            <input id="dt-Descripcion" class="form-control" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Código</label>
                            <input id="dt-Codigo" class="form-control" maxlength="20"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Valor</label>
                            <input id="dt-Valor" class="form-control" maxlength="20" onkeypress="return isNumberKey(event)"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Estado</label>
                            
                            <select id="dt-Estado" class="form-control">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary" onclick="saveTabla()">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>