﻿@model cerebro.Models.CuadroView

@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Reportes y Auditoría</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
</section>

<section class="content container-fluid">
    <div class="row">

        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Cuadro de Resumen de contratos</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-agrupado">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" id="head-agrupado">
                    <h4 class="modal-title" id="title-agrupado">titulo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="tblsubgerencia" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Subgerencia</th>
                                    <th>Cantidad de Contratos</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-subgerencia">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="title-subgerencia">titulo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="tblcontrato" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Descripción Contrato</th>
                                    <th>Proveedor</th>
                                    <th>Fecha Fin Vigencia</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
            var donutData = {
                labels: [
                    'Ambar',
                    'Azul',
                    'Verde',
                    'Rojo'
                ],
                datasets: [
                    {
                        data: [@Model.resultado["Ambar"], @Model.resultado["Azul"], @Model.resultado["Verde"], @Model.resultado["Rojo"]],
                        backgroundColor: ['#ff7e00', '#00008B', '#006400', '#FF0000'],
                    }
                ]
            }
            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true
            }

            var donutChart = new Chart(donutChartCanvas, {
                type: 'doughnut',
                data: donutData,
                options: donutOptions
            });

            $("#donutChart").click(
                function (evt) {
                    var activePoints = donutChart.getElementsAtEvent(evt);
                    var labeltag = activePoints[0]._view.label;
                    var color = activePoints[0]._view.backgroundColor;
                    console.log(color);
                    getDetail(labeltag, color);
                });
            $("#tblsubgerencia").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
            });
            $("#tblcontrato").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
            });
            
        })
        var strlabelglo = "";
        function getDetail(strlabel, strcolor) {
            strlabelglo = strlabel;
            $.ajax(
            {
                type: "GET",
                url: '/Dashboard/GetChild?strlabel='+strlabel,

                error: function (result) {
                console.log("Hubo un problema intente de nuevo");
                },
                success: function (result) {
                    console.log(result.data);
                    $("#modal-agrupado").modal();

                    $("#head-agrupado").css("backgroundColor", strcolor);
                    $("#title-agrupado").html("Detalle de contratos " + strlabel);
                    populateDataTableAgrupado(result.data);
                }
            });
        }

        function populateDataTableAgrupado(data) {
            var tlbchildren = $('#tblsubgerencia').DataTable();
            tlbchildren.clear().draw();
            var length = Object.keys(data).length;
            for (var i = 0; i < length; i++) {
                var entity = data[i];
                tlbchildren.row.add([
                    entity.subgerencia,
                    entity.cantidad,
                    '<button type="button" class="btn btn-outline-primary btn-sm" onclick="GetDetalleSubgerencia(\''+entity.subgerencia+'\')"><i class="fas fa-list"></i></button>'
                  ]).draw();
            }
        }

        function GetDetalleSubgerencia(strsubgerencia) {
            console.log(strlabelglo);
            $.ajax(
            {
                type: "GET",
                url: '/Dashboard/GetDetalleSubgerencia?strlabel='+strlabelglo+"&strsubgerencia="+strsubgerencia,

                error: function (result) {
                    console.log("Hubo un problema intente de nuevo");
                },
                success: function (result) {
                    console.log(result.data);
                    $("#modal-subgerencia").modal();
                                        
                    $("#title-subgerencia").html("Detalle de contratos: " + strsubgerencia);
                    populateDataTableSubgerencia(result.data);
                }
            });
        }

        function populateDataTableSubgerencia(data) {
            var tlbchildren = $('#tblcontrato').DataTable();
            tlbchildren.clear().draw();
            var length = Object.keys(data).length;
            for (var i = 0; i < length; i++) {
                var entity = data[i];
                tlbchildren.row.add([
                    entity.descripcion,
                    entity.proveedor,
                    entity.feFinContrato.substring(0, 10)
                    
                  ]).draw();
            }
        }
    </script>
</section>