﻿@model IEnumerable<cerebro.Models.TbUsuario>

<section class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Administración</a></li>
            <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
        </ol>
    </nav>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">



    </div>
</section>