﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cerebro | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/plugins/Ionicons/css/ionic.min.css">
    
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.css">
    <link rel="stylesheet" href="~/css/site.css"/>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">

            <!--img src="~/img/banbif-logo.png" alt="Banbif Logo" class="img-login-logo elevation-3" width="210"-->
            
        </div>
        <!-- /.login-logo -->
        <div class="card card-cerebro">
            <div class="card-body login-card-body">
                <div align="center">
                    <h3>INICIAR SESIÓN</h3>
                    <h5>Gestión de servicios de TI Contratos</h5>
                    <br />
                </div>
                <form action="Home/Index" method="post">
                    <div class="input-group mb-3">
                        <input id="txtUsuario" type="text" class="form-control" placeholder="Usuario" value="">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="txtPassword" type="password" class="form-control" placeholder="Contraseña" value="">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">

                        <div class="col-8">
                            <input type="button" value="Ingresar" class="btn btn-primary btn-block btn-flat" onclick="Validate()" />
                        </div>
                        <!-- /.col -->
                    </div>
                    <br />
                </form>
            </div>


            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>

    <script>
      function Validate() {
        $.ajax(
        {
          type: "POST",
          url: '@Url.Action("Validate", "Home")',
          data: {
            Usuario: $('#txtUsuario').val(),
            Password: $('#txtPassword').val()
          },
          error: function (result) {
            alert("Hubo un error, por favor intenta nuevamante");
          },
          success: function (result) {
            console.log(result);
            if (result.status == true) {
                if (result.idrol == 2) {
                    window.location.href = "/Contrato/ConsultaVenc";
                } else {
                    window.location.href = "/Contrato/Index";
                }
            }
            else {
              alert(result.message);
            }
          }
        });
      }


       

    </script>

</body>
</html>
